.overview-card {
  background: linear-gradient(
    90deg,
    theme(colors.hightlight),
    theme(colors.secondary)
  );
  padding: 4px;
  border-radius: 12px;
}

.overview-card .content {
  border-radius: 10px;
}
