.options-card {
  will-change: transform;
  transition: all 0.2s ease-in-out;
  transform: scale(1);
  transform-origin: center;
  justify-self: stretch;
}

.options-card:hover {
  transform: scale(1.02);
}
